body {
  background-image: url(https://envs.sh/h9T.bmp);
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 70px;
}

h1, h2 {
  text-align: center;
  margin: 0 auto;
  font-family: 'Roboto Slab', serif;;
  color: goldenrod;
  border: solid;
  border-width: 5px;
  border-color: goldenrod;
}

header, footer {
  background-color: darkcyan;
  padding: 20px;
}

iframe {
  padding-top: 20px;
  padding-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  margin: 1em;
  padding: 5em;
  border-radius: 1em;
}

img {
  width: 100%;
  height: auto;
  text-align: center;
  cursor: pointer;
  transition: transform 1s;
}

img:hover {
  border: solid;
  border-radius: 2px;
}

img:active {
  transform: rotate(360deg);
}

video, iframe {
  width: 100%;
  display: block;
  margin: auto;
}

